python-dotenv
openai
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytz
phue
spotipy
discord.py
beautifulsoup4
langchain
langchain-openai
langchain-core
langchain-community
apscheduler

fastapi 
uvicorn 
pydantic
multipart
edge-tts